body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    display: flex;
    margin: 5% auto;
    width: 80%;
    height: 80vh;
    padding: 10px;
    background: url("weather.jpg") center;
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 20px 5px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.title-container {
    text-shadow: 2px 1px darkred;
}

.date {
    padding-top: 30px;
    
}

.weather {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}

.btn {
    margin-top: -5px;
}

.error {
    margin-top: 20px;
    padding-top: 10px;
    color: midnightblue;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.time {
    text-align: center;
    font-size: 30px;
}

.result {
    text-align: center;
}
